/* Sticky footer styles
-------------------------------------------------- */

html,
body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto;
    /* Negative indent footer by its height */
    margin: 0 auto;
    /* Pad bottom by footer height */
    padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
    /*  height: 30px;*/
    background-color: #f5f5f5;
    bottom: 0;
    position: relative;

    margin-left: auto;
    margin-right: auto;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */
.container {
    margin-top: 20px;
    width: auto;
    /*  max-width: 1080px;*/
    padding: 20px;

    border-radius: 10px;

}

.container .text-muted {
    margin: 20px 0;
}

i {
    padding: 10px;
}

.row {
    padding-top: 20px;
}

h1 {
    font-family: 'Great Vibes', cursive;
}

hr {

    background-color: ;
}

.border-primary {
    --bs-border-opacity: 1;
    border-color: #dcd0ff !important;
}

a {
    border-bottom: 1px solid #0C0C0C;
    color: #444;
    text-decoration: none;
}

a:hover {
    border-bottom: 1px solid #000;
    color: black;

    text-decoration: none;
}

a:focus {
    border-bottom: 2px solid #0C0C0C;
    color: #444;
    text-decoration: none;
}

.text-bg-primary {
    color: #fff !important;
    background-color: #9966cc !important;
}

 .card-img-top {
        height: 200px;
        object-fit: cover;
    }
        #services {
        background-color: #f9f9f9;
        padding: 60px 0;
    }

    #services h2 {
        color: #333;
        font-size: 36px;
        font-weight: 600;
        margin-bottom: 40px;
    }

    .card {
        border: none;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .card:hover {
        transform: translateY(-5px);
    }

    .card-img-top {
        object-fit: cover;
        height: 300px;
        width: 100%;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    .card-body {
        text-align: center;
        padding: 20px;
    }

    .card-title {
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 10px;
    }

    .card-text {
        color: #777;
        font-size: 16px;
    }
    
    .card-deck .card:not(:last-child) {
        margin-bottom: 30px;
    }