<!-- Clients -->
<div class="clients">
  
            <div class="col-md-12 text-center">
                <div class="img-wrap">
                    <a target="_blank" href="https://www.theknot.com/marketplace/redirect-2073840?utm_source=vendor_website&utm_medium=banner&utm_term=1e47e1fc-0b86-4c89-b882-41731f4bfad2&utm_campaign=vendor_badge_assets">
                        <img src="https://raw.githubusercontent.com/markymark13/erf/main/images/128-1286873_7-seen-on-the-knot-badge-black.png" alt="As Seen on The Knot badge" border="0" loading="lazy">
                    </a>
                    <a target="_blank" href="https://voyagedenver.com/interview/hidden-gems-meet-elizabeth-kay-sherrard-of-elizabeth-rose-florals/">
                        <img src="https://raw.githubusercontent.com/markymark13/erf/main/images/VoyageDenverfooter.png" alt="VoyageDenver interview with Elizabeth Rose Florals" border="0" loading="lazy">
                    </a>
                    <a target="_blank" href="https://www.carolgardnerphotography.com/blog/behind-the-petals-an-interview-with-elizabeth-rose-florals/">
                        <img src="/images/carol_photo_logo.png" alt="Carol Gardner Photography blog interview logo" border="0" loading="lazy">
                    </a>
                    <a target="_blank" href="https://www.weddingchicks.com/real-weddings/pastel-fall-wedding/">
                        <img src="/images/2025 WC Feature Badge.png" alt="Wedding Chicks feature badge for Elizabeth Rose Florals" border="0" loading="lazy">
                    </a>
                    <a target="_blank" href="https://citylifestyle.com/articles/12-women-zero-limits-centennials-boldest-bbosses-in-business">
                        <img src="/images/CityLifestyle_Centennial_City_Lifestyle_CO_Black.png" alt="City Lifestyle Centennial feature logo" border="0" loading="lazy">
                    </a>
                </div>
            </div>
       
    
</div>
<!-- Footer -->
<footer class="main-footer dark">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-30">
                <div class="item abot">
                    <div class="logo mb-20">
                        <!-- <img src="images/logo-light.png" alt=""> -->
                        <h2 style="font-family: Gistesy; font-weight: normal; letter-spacing: 2px;">Elizabeth Rose Florals</h2>
                    </div>
                    <p>Elevating weddings and events with personalized and delicately handcrafted floral designs.</p>
                    <div class="social-icon">
                        <a href="mailto:elizabeth@elizabethroseflorals.com" class="nocolor"><i class="ti-email"></i></a>
                        <a href="https://instagram.com/elizabethroseflorals" target="_blank"><i class="ti-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 offset-md-1 mb-30">
                <div class="item usful-links">
                    <div class="fothead">
                        <h6>Useful Links</h6>
                    </div>
                    <ul>
                        <li><i class="ti-angle-right"></i> <a href="/index">Home</a></li>
                        <li><i class="ti-angle-right"></i> <a href="/services">Services</a></li>
                        <li><i class="ti-angle-right"></i> <a href="/shop">Shop</a></li>
                        <li><i class="ti-angle-right"></i> <a href="/portfolio">Portfolio</a></li>
                        <li><i class="ti-angle-right"></i> <a href="/about">About</a></li>
                        <li><i class="ti-angle-right"></i> <a href="/contact">Contact</a></li>
                        <li><i class="ti-angle-right"></i> <a href="/services#faq">FAQ</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 mb-30">
                <div class="item fotcont">
                    <div class="fothead">
                        <h6>Get in touch</h6>
                    </div>
                    <p><a href="mailto:elizabeth@elizabethroseflorals.com" class="nocolor">elizabeth@elizabethroseflorals.com</a></p>
                    <p><a class="nocolor" href="tel:7205074908">(720) 507-4908</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="sub-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="text-left">
                        <p>© 2025 Elizabeth Rose Florals, LLC. All rights reserved. <a href="/terms">Terms of Service</a>. <a href="/privacy">Privacy Policy</a>. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Load Scripts Asynchronously or Defer -->
<script src="/modules/owl-carousel/owl.carousel.min.js"></script>
<script src="/modules/magnific-popup/jquery.magnific-popup.js"></script>
<!-- <script src="/modules/masonry/masonry.pkgd.min.js"></script> -->
<!-- moved to index 
<script src="/modules/youtubepopup/YouTubePopUp.js" ></script> 
-->
<script src="/js/script.js"></script>
<script defer src="https://unpkg.com/mailgo@0.12.2/dist/mailgo.min.js" ></script>