 <!-- Preloader -->
<!--     <div id="bethany-page-loading" class="bethany-pageloading">
        <div class="bethany-pageloading-inner">
            <img src="/images/erf_logo.png" class="logo" alt="">
        </div>
    </div> -->
    
<header>
    <div class="bethany-header-navbar">
        <div class="container bethany-navbar-container">
            <div class="bethany-navigation-wrap bg-light bethany-start-header start-style">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <nav class="navbar navbar-expand-md navbar-light">
                                <!-- Logo -->
                                <a class="navbar-brand" href="/">
                                    <h3 style="font-family: Gistesy; font-weight: normal; letter-spacing: 2px;">Elizabeth Rose Florals</h3>
                                </a>
                                <!-- Menu -->
                                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
                                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                    <ul class="navbar-nav ml-auto py-4 py-md-0">
                                        <li class="nav-item {% if page.url == '/' %}active{% endif %}">
                                            <a class="nav-link" href="/">Home</a>
                                        </li>
                                        <li class="nav-item {% if page.url == '/services/' %}active{% endif %}">
                                            <a class="nav-link" href="/services/">Services</a>
                                        </li>
                                        <li class="nav-item {% if page.url == '/shop/' %}active{% endif %}">
                                            <a class="nav-link" href="/shop/">Shop</a>
                                        </li>
                                        <li class="nav-item {% if page.url == '/portfolio/' %}active{% endif %}">
                                            <a class="nav-link" href="/portfolio/">Portfolio</a>
                                        </li>
                                        <li class="nav-item {% if page.url == '/about/' %}active{% endif %}">
                                            <a class="nav-link" href="/about/">About</a>
                                        </li>
                                        <li class="nav-item {% if page.url == '/contact/' %}active{% endif %}">
                                            <a class="nav-link" href="/contact/">Contact</a>
                                        </li>
                                         <li class="nav-item {% if page.url == '/blog/'  or page.url contains '/blog/' %}active{% endif %}">
                                            <a class="nav-link" href="/blog/">Blog</a>
                                        </li> 
                                    </ul>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>